$color-primary: #f8b195;
$color-secondary: #f67280;
$color-tertiary: #c06c84;
$color-quaternary: #6c5b7b;
$color-quinary: #355c7d;
$color-claim: #8b424a;
$color-green: #6dbb53;
$color-white: #fff;
$color-lightgrey: #ddd;
$color-black: #333;

$font: 'Exo 2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Carter+One');

body {
	margin: 0;
	padding: 0;
	zoom: 1;
	height: 100vh;
	font-family: $font;
	font-weight: 400;
	background: linear-gradient($color-primary, $color-tertiary);
}

.app {
	//transform: rotate(3deg);

	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: auto 3fr auto;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	grid-template-areas:
		'. header .'
		'. query .'
		'. footer .';
	text-align: center;
}

.header {
	grid-area: header;
	color: $color-white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;

	.brand {
		margin: 0;
		font-size: 4em;
		text-transform: uppercase;
		text-shadow: 0px 2px 1px $color-tertiary;
		//font-family: 'Carter One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		.highlighted {
			color: $color-white;
			text-shadow: 0px 3px 1px $color-secondary;
		}
	}
	.claim {
		padding: 0.5em;
		margin: 0;
		font-size: 1.4em;
		font-weight: 400;
		color: $color-claim;
	}
}
.query {
	grid-area: query;
	background: $color-white;
	box-shadow: 0px 5px 0px $color-tertiary;
	padding: 1em;
	text-align: center;

	.query-input {
		font-size: 1.2em;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;

		.query-input-text {
			text-align: center;
			color: $color-tertiary;
			font-size: 1.2em;
			border: 2px solid $color-tertiary;
			border-radius: 4px;
			box-shadow: inset 0 -6px 0px rgba($color-tertiary, 0.2);
			padding: 15px;
			background: rgba(255, 255, 255, 0.5);
			margin: 1em;
		}

		.query-input-text-label {
			color: $color-quinary;
			font-size: 1.2em;
		}
	}
}
.footer {
	grid-area: footer;
	font-size: 1em;
	.disclaimer {
		margin: 0;
		color: white;
		font-size: 1em;
		.header-link {
			color: #8b424a;
			text-decoration: none;
		}
	}
}

ol.results-list {
	text-align: left;
	.results-list-item {
		font-size: 1.6em;
		padding: 0.4em;
		border-bottom: 1px dashed $color-lightgrey;
		&:nth-child(1n + 1) {
			color: rgba($color-quinary, 1);
		}
		&:nth-child(1n + 2) {
			color: rgba($color-quinary, 0.8);
		}
		&:nth-child(1n + 3) {
			color: rgba($color-quinary, 0.6);
		}
		&:nth-child(1n + 4) {
			color: rbga($color-quinary, 0.4);
		}
		&:nth-child(1n + 5) {
			color: rbga($color-quinary, 0.2);
		}
	}
	.results-list-item:last-child {
		border-bottom: 0px !important;
	}
}

.text-muted {
	color: $color-lightgrey;
}

.loader {
	opacity: 0;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
	text-transform: uppercase;
	color: $color-tertiary;
}

@keyframes pulsate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.error {
	background: $color-secondary;
	padding: 1em;
	border-radius: 4px;
	margin-bottom: 10px;
	.error-message {
		.error-message-tag {
			margin-right: 10px;
			border-radius: 4px;
			background: $color-white;
			padding: 0.4em;
			color: $color-secondary;
			text-transform: uppercase;
		}
		color: $color-white;
		font-size: 1em;
	}
}


.info {
	background: $color-quaternary;
	padding: 1em;
	border-radius: 4px;
	margin-bottom: 10px;
	.info-message {
		.info-message-tag {
			margin-right: 10px;
			border-radius: 4px;
			background: $color-white;
			padding: 0.4em;
			color: $color-quaternary;
			text-transform: uppercase;
		}
		color: $color-white;
		font-size: 1em;
	}
}
